(edif spi_clk
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2018 3 1 22 32 17)
      (author "Synopsys, Inc.")
      (program "Synplify Pro" (version "L-2016.09M-2, mapper mapact, Build 1920R"))
     )
   )
  (library PA3
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell XOR2 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "A ^ B"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell VCC (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "1"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell OUTBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port PAD (direction OUTPUT)
           (property function (string "D"))
           (property is_pad (string "true"))
 )
           (port D (direction INPUT))
         )
       )
    )
    (cell NOR3B (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(!A + !B + C)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell NOR2B (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(!A + !B)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell NOR2A (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(!A + B)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INV (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!A"))
 )
           (port A (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
    (cell GND (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "0"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell DFN1C0 (cellType GENERIC)
      (property is_sequential (integer 1))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT)
           (property function (string "IQ"))
 )
           (port CLK (direction INPUT)
           (property clock (integer 1))
 )
           (port CLR (direction INPUT)
           (property clear (integer 1))
 )
           (port D (direction INPUT))
         )
        (property is_ff (integer 1))
       )
    )
    (cell CLKBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_type (string "clock"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
    (cell AX1C (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "(A & B) ^ C"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell AOI1B (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(A & B + !C)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell AND3 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "A & B & C"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell spi_clk (cellType GENERIC)
       (view verilog (viewType NETLIST)
         (interface
           (port clk (direction INPUT))
           (port n_rst (direction INPUT))
           (port clk_out (direction OUTPUT))
         )
         (contents
          (instance clk_pad (viewRef prim (cellRef CLKBUF (libraryRef PA3)))
          )
          (instance un3_counter_I_6 (viewRef prim (cellRef NOR2B (libraryRef PA3)))
           (property is_instantiated (integer 1))
          )
          (instance un3_counter_I_11 (viewRef prim (cellRef NOR2B (libraryRef PA3)))
           (property is_instantiated (integer 1))
          )
          (instance (rename counter_RNIE36D_5 "counter_RNIE36D[5]") (viewRef prim (cellRef NOR3B (libraryRef PA3)))          )
          (instance (rename counter_RNIHRI6_1 "counter_RNIHRI6[1]") (viewRef prim (cellRef NOR2B (libraryRef PA3)))          )
          (instance (rename counter_RNILVI6_2 "counter_RNILVI6[2]") (viewRef prim (cellRef NOR2A (libraryRef PA3)))          )
          (instance (rename cur_clk_RNO_0 "cur_clk_RNO[0]") (viewRef prim (cellRef AX1C (libraryRef PA3)))          )
          (instance (rename counter_RNO_5 "counter_RNO[5]") (viewRef prim (cellRef AOI1B (libraryRef PA3)))          )
          (instance (rename counter_RNO_3 "counter_RNO[3]") (viewRef prim (cellRef AOI1B (libraryRef PA3)))          )
          (instance (rename cur_clk_0 "cur_clk[0]") (viewRef prim (cellRef DFN1C0 (libraryRef PA3)))
          )
          (instance (rename counter_0 "counter[0]") (viewRef prim (cellRef DFN1C0 (libraryRef PA3)))
          )
          (instance (rename counter_1 "counter[1]") (viewRef prim (cellRef DFN1C0 (libraryRef PA3)))
          )
          (instance (rename counter_2 "counter[2]") (viewRef prim (cellRef DFN1C0 (libraryRef PA3)))
          )
          (instance (rename counter_3 "counter[3]") (viewRef prim (cellRef DFN1C0 (libraryRef PA3)))
          )
          (instance (rename counter_4 "counter[4]") (viewRef prim (cellRef DFN1C0 (libraryRef PA3)))
          )
          (instance (rename counter_5 "counter[5]") (viewRef prim (cellRef DFN1C0 (libraryRef PA3)))
          )
          (instance clk_out_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance n_rst_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance un3_counter_I_14 (viewRef prim (cellRef XOR2 (libraryRef PA3)))
           (property is_instantiated (integer 1))
          )
          (instance un3_counter_I_13 (viewRef prim (cellRef AND3 (libraryRef PA3)))
           (property is_instantiated (integer 1))
          )
          (instance un3_counter_I_12 (viewRef prim (cellRef XOR2 (libraryRef PA3)))
           (property is_instantiated (integer 1))
          )
          (instance un3_counter_I_10 (viewRef prim (cellRef AND3 (libraryRef PA3)))
           (property is_instantiated (integer 1))
          )
          (instance un3_counter_I_9 (viewRef prim (cellRef XOR2 (libraryRef PA3)))
           (property is_instantiated (integer 1))
          )
          (instance un3_counter_I_8 (viewRef prim (cellRef AND3 (libraryRef PA3)))
           (property is_instantiated (integer 1))
          )
          (instance un3_counter_I_7 (viewRef prim (cellRef XOR2 (libraryRef PA3)))
           (property is_instantiated (integer 1))
          )
          (instance un3_counter_I_5 (viewRef prim (cellRef XOR2 (libraryRef PA3)))
           (property is_instantiated (integer 1))
          )
          (instance un3_counter_I_4 (viewRef prim (cellRef INV (libraryRef PA3)))
           (property is_instantiated (integer 1))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef PA3)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef PA3)))          )
          (net I_4 (joined
           (portRef Y (instanceRef un3_counter_I_4))
           (portRef D (instanceRef counter_0))
          ))
          (net I_5 (joined
           (portRef Y (instanceRef un3_counter_I_5))
           (portRef D (instanceRef counter_1))
          ))
          (net I_7 (joined
           (portRef Y (instanceRef un3_counter_I_7))
           (portRef D (instanceRef counter_2))
          ))
          (net I_9 (joined
           (portRef Y (instanceRef un3_counter_I_9))
           (portRef C (instanceRef counter_RNO_3))
          ))
          (net I_12 (joined
           (portRef Y (instanceRef un3_counter_I_12))
           (portRef D (instanceRef counter_4))
          ))
          (net I_14 (joined
           (portRef Y (instanceRef un3_counter_I_14))
           (portRef C (instanceRef counter_RNO_5))
          ))
          (net (rename counterZ0Z_3 "counter[3]") (joined
           (portRef Q (instanceRef counter_3))
           (portRef B (instanceRef un3_counter_I_9))
           (portRef B (instanceRef un3_counter_I_13))
           (portRef B (instanceRef counter_RNILVI6_2))
           (portRef A (instanceRef un3_counter_I_11))
          ))
          (net (rename counterZ0Z_4 "counter[4]") (joined
           (portRef Q (instanceRef counter_4))
           (portRef B (instanceRef un3_counter_I_12))
           (portRef C (instanceRef un3_counter_I_13))
           (portRef C (instanceRef counter_RNIE36D_5))
          ))
          (net (rename counterZ0Z_0 "counter[0]") (joined
           (portRef Q (instanceRef counter_0))
           (portRef A (instanceRef un3_counter_I_4))
           (portRef A (instanceRef un3_counter_I_5))
           (portRef A (instanceRef un3_counter_I_8))
           (portRef A (instanceRef un3_counter_I_10))
           (portRef B (instanceRef counter_RNIHRI6_1))
           (portRef B (instanceRef un3_counter_I_6))
          ))
          (net (rename counterZ0Z_1 "counter[1]") (joined
           (portRef Q (instanceRef counter_1))
           (portRef B (instanceRef un3_counter_I_5))
           (portRef B (instanceRef un3_counter_I_8))
           (portRef B (instanceRef un3_counter_I_10))
           (portRef A (instanceRef counter_RNIHRI6_1))
           (portRef A (instanceRef un3_counter_I_6))
          ))
          (net (rename counterZ0Z_2 "counter[2]") (joined
           (portRef Q (instanceRef counter_2))
           (portRef B (instanceRef un3_counter_I_7))
           (portRef C (instanceRef un3_counter_I_8))
           (portRef C (instanceRef un3_counter_I_10))
           (portRef A (instanceRef counter_RNILVI6_2))
          ))
          (net (rename counterZ0Z_5 "counter[5]") (joined
           (portRef Q (instanceRef counter_5))
           (portRef B (instanceRef un3_counter_I_14))
           (portRef A (instanceRef counter_RNIE36D_5))
          ))
          (net (rename counter_3_3 "counter_3[3]") (joined
           (portRef Y (instanceRef counter_RNO_3))
           (portRef D (instanceRef counter_3))
          ))
          (net (rename counter_3_5 "counter_3[5]") (joined
           (portRef Y (instanceRef counter_RNO_5))
           (portRef D (instanceRef counter_5))
          ))
          (net (rename cur_clk_RNOZ0Z_0 "cur_clk_RNO[0]") (joined
           (portRef Y (instanceRef cur_clk_RNO_0))
           (portRef D (instanceRef cur_clk_0))
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
          (net (rename un3_counter_U1_DWACT_FINC_E_0 "un3_counter.U1.DWACT_FINC_E[0]") (joined
           (portRef Y (instanceRef un3_counter_I_10))
           (portRef A (instanceRef un3_counter_I_13))
           (portRef B (instanceRef un3_counter_I_11))
          ))
          (net (rename un3_counter_N_2 "un3_counter.N_2") (joined
           (portRef Y (instanceRef un3_counter_I_13))
           (portRef A (instanceRef un3_counter_I_14))
          ))
          (net (rename un3_counter_N_3 "un3_counter.N_3") (joined
           (portRef Y (instanceRef un3_counter_I_11))
           (portRef A (instanceRef un3_counter_I_12))
          ))
          (net (rename un3_counter_N_4 "un3_counter.N_4") (joined
           (portRef Y (instanceRef un3_counter_I_8))
           (portRef A (instanceRef un3_counter_I_9))
          ))
          (net (rename un3_counter_N_5 "un3_counter.N_5") (joined
           (portRef Y (instanceRef un3_counter_I_6))
           (portRef A (instanceRef un3_counter_I_7))
          ))
          (net clk_c (joined
           (portRef Y (instanceRef clk_pad))
           (portRef CLK (instanceRef counter_5))
           (portRef CLK (instanceRef counter_4))
           (portRef CLK (instanceRef counter_3))
           (portRef CLK (instanceRef counter_2))
           (portRef CLK (instanceRef counter_1))
           (portRef CLK (instanceRef counter_0))
           (portRef CLK (instanceRef cur_clk_0))
          ))
          (net clk (joined
           (portRef clk)
           (portRef PAD (instanceRef clk_pad))
          ))
          (net n_rst_c (joined
           (portRef Y (instanceRef n_rst_pad))
           (portRef CLR (instanceRef counter_5))
           (portRef CLR (instanceRef counter_4))
           (portRef CLR (instanceRef counter_3))
           (portRef CLR (instanceRef counter_2))
           (portRef CLR (instanceRef counter_1))
           (portRef CLR (instanceRef counter_0))
           (portRef CLR (instanceRef cur_clk_0))
          ))
          (net n_rst (joined
           (portRef n_rst)
           (portRef PAD (instanceRef n_rst_pad))
          ))
          (net clk_out_c (joined
           (portRef Q (instanceRef cur_clk_0))
           (portRef D (instanceRef clk_out_pad))
           (portRef C (instanceRef cur_clk_RNO_0))
          ))
          (net clk_out (joined
           (portRef PAD (instanceRef clk_out_pad))
           (portRef clk_out)
          ))
          (net cur_clk6_1 (joined
           (portRef Y (instanceRef counter_RNILVI6_2))
           (portRef B (instanceRef counter_RNIE36D_5))
          ))
          (net cur_clk6_2 (joined
           (portRef Y (instanceRef counter_RNIHRI6_1))
           (portRef B (instanceRef counter_RNO_3))
           (portRef B (instanceRef counter_RNO_5))
           (portRef A (instanceRef cur_clk_RNO_0))
          ))
          (net cur_clk6_3 (joined
           (portRef Y (instanceRef counter_RNIE36D_5))
           (portRef A (instanceRef counter_RNO_3))
           (portRef A (instanceRef counter_RNO_5))
           (portRef B (instanceRef cur_clk_RNO_0))
          ))
         )
        (property langParams (string "DIVIDER"))
        (property DIVIDER (integer 40))
        (property orig_inst_of (string "spi_clk"))
       )
    )
  )
  (design spi_clk (cellRef spi_clk (libraryRef work)))
)
